<footer class="pc-footer">
    <div class="footer-wrapper container-fluid">
      <div class="row">
        <div class="col my-1">
          <p class="m-0">
            &copy; CodedThemes - Flask Integration by <a href="https://app-generator.dev/">App Generator</a>.
            </p>
        </div>
        <div class="col-auto my-1">
          <ul class="list-inline footer-link mb-0">
            <li class="list-inline-item"><a href="https://app-generator.dev/product/datta-able/flask/">Download</a></li>
            <li class="list-inline-item"><a href="https://app-generator.dev/docs/products/flask/datta-able/index.html">Documentation</a></li>
            <li class="list-inline-item"><a href="https://app-generator.dev/product/datta-able-pro/flask/">PRO Version</a></li>
          </ul>
        </div>
      </div>
    </div>
</footer> 