<nav class="pc-sidebar">
  <div class="navbar-wrapper">
    <div class="m-header">
      <a href="{{ url_for('home_blueprint.index') }}" class="b-brand text-primary">
        <!-- ========   Change your logo from here   ============ -->
        <img src="{{ url_for('static', filename='assets/images/logo-white.svg') }}" class="img-fluid" alt="logo">
      </a>
    </div>
    <div class="navbar-content">

      <ul class="pc-navbar">

        <li class="pc-item pc-caption">
          <label>Navigation</label>
        </li>
        <li class="pc-item pc-hasmenu">
          <a href="#!" class="pc-link">
            <span class="pc-micon">
              <i data-feather="home"></i>
            </span>
            <span class="pc-mtext">Dashboard</span><span class="pc-arrow"><i class="ti ti-chevron-right"></i></span>
          </a>
          <ul class="pc-submenu">
            <li class="pc-item">
              <a class="pc-link" href="{{ url_for('home_blueprint.index') }}">Default</a>
            </li>
            <li class="pc-item">
              <a class="pc-link" href="{{ url_for('table_blueprint.dynamic_dt') }}">Dynamic DT</a>
            </li>
          </ul>
        </li>

        {% if current_user.is_authenticated %}
        <li class="pc-item">
          <a href="{{ url_for('home_blueprint.profile') }}" class="pc-link">
            <span class="pc-micon">
              <i data-feather="user"></i>
            </span>
            <span class="pc-mtext">Profile</span>
          </a>
        </li>
        {% endif %}
        <li class="pc-item pc-caption">
          <label>UI Components</label>
          <i data-feather="feather"></i>
        </li>
        <li class="pc-item">
          <a href="{{ url_for('home_blueprint.color') }}" class="pc-link">
            <span class="pc-micon"><i data-feather="droplet"></i></span>
            <span class="pc-mtext">Color</span>
          </a>
        </li>
        <li class="pc-item">
          <a href="{{ url_for('home_blueprint.typography') }}" class="pc-link">
            <span class="pc-micon"><i data-feather="type"></i></span>
            <span class="pc-mtext">Typography</span>
          </a>
        </li>
        <li class="pc-item">
          <a href="{{ url_for('home_blueprint.icon_feather') }}" class="pc-link">
            <span class="pc-micon"><i data-feather="feather"></i></span>
            <span class="pc-mtext">Icons</span>
          </a>
        </li>
        <li class="pc-item pc-caption">
          <label>Pages</label>
          <i data-feather="monitor"></i>
        </li> 
        {% if not current_user.is_authenticated %}
        <li class="pc-item">
          <a href="{{ url_for('authentication_blueprint.login') }}" class="pc-link">
            <span class="pc-micon"><i data-feather="lock"></i></span>
            <span class="pc-mtext">Login</span>
          </a>
        </li>
        <li class="pc-item">
          <a href="{{ url_for('authentication_blueprint.register') }}" class="pc-link">
            <span class="pc-micon"><i data-feather="user-plus"></i></span>
            <span class="pc-mtext">Register</span>
          </a>
        </li>
        {% else %}
        <li class="pc-item">
          <a href="{{ url_for('authentication_blueprint.logout') }}" class="pc-link">
            <span class="pc-micon">
              <svg class="pc-icon me-2">
                <use xlink:href="#custom-logout-1-outline"></use>
              </svg>
            </span>
            <span class="pc-mtext">Logout</span>
          </a>
        </li>
        {% endif %}
        <li class="pc-item pc-caption">
          <label>Other</label>
          <i data-feather="sidebar"></i>
        </li>
        <li class="pc-item pc-hasmenu">
          <a href="#!" class="pc-link">
            <span class="pc-micon">
              <i data-feather="align-right"></i>
            </span>
            <span class="pc-mtext">Menu levels</span><span class="pc-arrow"><i class="ti ti-chevron-right"></i></span>
          </a>
          <ul class="pc-submenu">
            <li class="pc-item"><a class="pc-link" href="#!">Level 2.1</a></li>
            <li class="pc-item pc-hasmenu">
              <a href="#!" class="pc-link"
                >Level 2.2<span class="pc-arrow"><i class="ti ti-chevron-right"></i></span
              ></a>
              <ul class="pc-submenu">
                <li class="pc-item"><a class="pc-link" href="#!">Level 3.1</a></li>
                <li class="pc-item"><a class="pc-link" href="#!">Level 3.2</a></li>
                <li class="pc-item pc-hasmenu">
                  <a href="#!" class="pc-link"
                    >Level 3.3<span class="pc-arrow"><i class="ti ti-chevron-right"></i></span
                  ></a>
                  <ul class="pc-submenu">
                    <li class="pc-item"><a class="pc-link" href="#!">Level 4.1</a></li>
                    <li class="pc-item"><a class="pc-link" href="#!">Level 4.2</a></li>
                  </ul>
                </li>
              </ul>
            </li>
            <li class="pc-item pc-hasmenu">
              <a href="#!" class="pc-link"
                >Level 2.3<span class="pc-arrow"><i class="ti ti-chevron-right"></i></span
              ></a>
              <ul class="pc-submenu">
                <li class="pc-item"><a class="pc-link" href="#!">Level 3.1</a></li>
                <li class="pc-item"><a class="pc-link" href="#!">Level 3.2</a></li>
                <li class="pc-item pc-hasmenu">
                  <a href="#!" class="pc-link">
                    Level 3.3
                    <span class="pc-arrow"><i class="ti ti-chevron-right"></i></span>
                  </a>
                  <ul class="pc-submenu">
                    <li class="pc-item"><a class="pc-link" href="#!">Level 4.1</a></li>
                    <li class="pc-item"><a class="pc-link" href="#!">Level 4.2</a></li>
                  </ul>
                </li>
              </ul>
            </li>
          </ul>
        </li>
        <li class="pc-item">
          <a href="{{ url_for('home_blueprint.sample_page') }}" class="pc-link">
            <span class="pc-micon"><i data-feather="sidebar"></i></span>
            <span class="pc-mtext">Sample page</span>
          </a>
        </li>
       
      </ul>
      <div class="card pc-user-card my-3 bg-white bg-opacity-10">
        <div class="card-body text-center">
          <img src="{{ url_for('static', filename='assets/images/application/img-coupon.png') }}" alt="img" class="img-fluid w-50">
          <h5 class="mb-0 text-white mt-1">Datta Able</h5>
          <a href="https://app-generator.dev/product/datta-able-pro/flask/" class="btn btn-warning">
            <svg class="pc-icon me-2">
              <use xlink:href="#custom-logout-1-outline"></use>
            </svg>
            Upgrade to PRO
          </a>
        </div>
      </div>
    </div>
  </div>
</nav>