{% extends "layouts/base-auth.html" %}
{% load static %}

{% block title %}Password Reset Complete{% endblock title %}

{% block content %}

  <div class="auth-main">
    <div class="auth-wrapper v1">
      <div class="auth-form">
        <div class="position-relative my-5">
          <div class="auth-bg">
            <span class="r"></span>
            <span class="r s"></span>
            <span class="r s"></span>
            <span class="r"></span>
          </div>
          <div class="card mb-0">
            <form method="post" class="card-body">
              {% csrf_token %}

              <div class="text-center">
                <a href="{% url "index" %}">
                  <div>
                    <img src="{% static "assets/images/logo-dark.svg" %}" alt="img">
                  </div>
                </a>
              </div>
              <h4 class="text-center f-w-500 mt-4 mb-3">Password Changed</h4>
              <p class="mb-4">Your password has been changed successfully.</p>
              <div class="d-flex justify-content-center gap-3 align-items-end mt-4">
                <a href="{% url "login" %}" class="link-primary">Back to Login</a>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>

{% endblock content %}