{% extends "layouts/base.html" %} {% block title %} Dashboard {% endblock %}

<!-- Specific CSS goes HERE -->
{% block stylesheets %}{% endblock stylesheets %} {% block content %}

<!-- [ Main Content ] start -->
<div class="pcoded-main-container">
  <div class="pcoded-wrapper">
    <div class="pcoded-content">
      <div class="pcoded-inner-content">
        <div class="main-body">
          <div class="page-wrapper">
            <!-- [ Main Content ] start -->

            <div class="row">
              <!--[ Upload ppt ] start-->
              <div class="col-md-6 col-xl-12">
                <div class="card daily-sales">
                  <form
                    action="/open_presentation"
                    method="post"
                    enctype="multipart/form-data"
                  >
                    <div class="card-block">
                      <h6 class="mb-4">Choose Presentation File</h6>
                      <div class="row d-flex align-items-center">
                        <div class="col-6">
                          <input
                            type="file"
                            name="file_path"
                            id="file_path"
                            required
                          />
                        </div>
                        <div class="col-6">
                          <button type="submit" class="btn btn-primary">
                            Upload
                          </button>
                        </div>
                      </div>
                    </div>
                  </form>
                </div>
              </div>
              <!--[ Upload ppt ] end-->

              <!--[ Recently Opened ] start-->
              <div class="col-xl-12 col-md-6">
                <div class="card Recent-Users">
                  <div class="card-header">
                    <h5>Recently opened</h5>
                  </div>
                  <div class="card-block px-0 py-3">
                    <div class="table-responsive">
                      <table class="table table-hover">
                        <tbody>
                          {% for file in files %}
                          <tr class="unread" id={{file}}>
                            <td>
                              <h6 class="ml-5">{{ file }}</h6>
                            </td>
                            <!-- <td>
                              <h6 class="text-muted">
                                <i
                                  class="fas fa-circle text-c-green f-10 m-r-15"
                                ></i
                                >Time ppt was closed
                              </h6>
                            </td> -->
                            <td>
                              <a href="" class="label theme-bg2 text-white f-12"
                                >Delete</a
                              >
                              <input
                                type="button"
                                class="label theme-bg text-white f-12"
                                onclick="reopen(id)"
                                value="Reopen"
                              />
                            </td>
                          </tr>
                          {% endfor %}
                        </tbody>
                      </table>
                    </div>
                  </div>
                </div>
              </div>
              <!--[ Recently Opened ] end-->

              <!--[ Class Statistics ] start-->
              <div class="col-xl-12">
                <div class="card">
                  <div class="card-header">
                    <h5>Class Statistics</h5>
                  </div>
                  <div class="card-block">
                    <div id="morris-bar-chart" style="height: 300px"></div>
                  </div>
                </div>
              </div>
            </div>
            <!--[ Class Statistics ] end-->

            <!-- [ Main Content ] end -->
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- [ Main Content ] end -->

>
<!-- <script>
  function reopen() {
    document.getElementById(id)
  }
</script> -->
{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}

<script src="{{ config.ASSETS_ROOT }}/plugins/chart-morris/js/raphael.min.js"></script>
<script src="{{ config.ASSETS_ROOT }}/plugins/chart-morris/js/morris.min.js"></script>
<script src="{{ config.ASSETS_ROOT }}/js/pages/chart-morris-custom.js"></script>

{% endblock javascripts %}
