{% extends "layouts/base.html" %} {% block title %} Dashboard {% endblock %}

<!-- Specific CSS goes HERE -->
{% block stylesheets %}{% endblock stylesheets %} {% block content %}

<!-- [ Main Content ] start -->
<div class="pcoded-main-container">
  <div class="pcoded-wrapper">
    <div class="pcoded-content">
      <div class="pcoded-inner-content">
        <div class="main-body">
          <div class="page-wrapper">
            <!-- [ Main Content ] start -->

            <div class="row">
              <!--[ Upload ppt ] start-->
              <div class="col-md-6 col-xl-12">
                <div class="card daily-sales">
                  <div class="card-block">
                    <h6 class="mb-4">Choose Presentation File</h6>
                    <div class="row d-flex align-items-center">
                      <div class="col-6">
                        <h3 class="f-w-300 d-flex align-items-center m-b-0">
                          Upload here
                        </h3>
                      </div>
                      <div class="col-3">
                        <p>PPT name here</p>
                      </div>
                      <div class="col-3">
                        <button
                          type="button"
                          class="btn btn-primary"
                          onclick="alert('Insert upload PPT code here at this onclick')"
                        >
                          Upload
                        </button>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <!--[ Upload ppt ] end-->

              <!--[ Recently Opened ] start-->
              <div class="col-xl-12 col-md-6">
                <div class="card Recent-Users">
                  <div class="card-header">
                    <h5>Recently opened</h5>
                  </div>
                  <div class="card-block px-0 py-3">
                    <div class="table-responsive">
                      <table class="table table-hover">
                        <tbody>
                          <tr class="unread">
                            <td>
                              <h6 class="ml-5">Test.pptx</h6>
                            </td>
                            <td>
                              <h6 class="text-muted">
                                <i
                                  class="fas fa-circle text-c-green f-10 m-r-15"
                                ></i
                                >Time ppt was closed
                              </h6>
                            </td>
                            <td>
                              <a
                                href="#!"
                                class="label theme-bg2 text-white f-12"
                                >Delete</a
                              ><a
                                href="#!"
                                class="label theme-bg text-white f-12"
                                >Reopen</a
                              >
                            </td>
                          </tr>
                        </tbody>
                      </table>
                    </div>
                  </div>
                </div>
              </div>
              <!--[ Recently Opened ] end-->
            </div>
            <!-- [ Main Content ] end -->
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- [ Main Content ] end -->

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}{% endblock javascripts %}