
    <nav class="pcoded-navbar" style="background-color: #00558E;">
        <div class="navbar-wrapper" style="background-color: #00558E">
            <div class="navbar-brand header-logo" style="background-color: #00558E">
                <a target="_blank" 
                   href="https://www.multilab.co/index.php?lang=es" class="b-brand">
                    
                   <img src="/static/assets/images/Logo-R_new.png" width="150">
                </a>
                
                <a class="mobile-menu" id="mobile-collapse" href="javascript:"><span></span></a>
            </div>
            <div class="navbar-content scroll-div" style="background-color: #00558E"> 
                <ul class="nav pcoded-inner-navbar" style="background-color: #00558E">
                    <li class="nav-item pcoded-menu-caption" style="background-color: #00558E">
                        <label>Mapas</label>
                    </li>
                    <li data-username="dashboard Default Ecommerce CRM Analytics Crypto Project" 
                        class="nav-item {% if 'index' in segment %} active {% endif %}">
                        <a href="/page-mmunicipios.html" class="nav-link "><span class="pcoded-micon"><i class="feather icon-map"></i></span><span class="pcoded-mtext">Muestras Municipio</span></a>
                    </li>

                    <li data-username="dashboard Default Ecommerce CRM Analytics Crypto Project" 
                        class="nav-item {% if 'mdepartamentos' in segment %} active {% endif %}">
                        <a href="/page-mdepartamentos.html" class="nav-link "><span class="pcoded-micon"><i class="feather icon-map"></i></span><span class="pcoded-mtext">Muestras Departamento</span></a>
                    </li>

                    <li data-username="dashboard Default Ecommerce CRM Analytics Crypto Project" 
                        class="nav-item {% if 'rmunicipios' in segment %} active {% endif %}">
                        <a href="/page-rmunicipios.html" class="nav-link "><span class="pcoded-micon"><i class="feather icon-map"></i></span><span class="pcoded-mtext">Rangos Municipio</span></a>
                    </li>

                    <li data-username="dashboard Default Ecommerce CRM Analytics Crypto Project" 
                        class="nav-item {% if 'rdepartamentos' in segment %} active {% endif %}">
                        <a href="/page-rdepartamentos.html" class="nav-link "><span class="pcoded-micon"><i class="feather icon-map"></i></span><span class="pcoded-mtext">Rangos Departamento</span></a>
                    </li>
                    
                    <li class="nav-item pcoded-menu-caption" style="background-color: #00558E">
                        <label>Páginas</label>
                    </li>
                    
                    <li data-username="Disabled Menu" class="nav-item">
                        <a href="{{ url_for('base_blueprint.logout') }}" class="nav-link">
                            <span class="pcoded-micon"><i class="feather icon-power"></i></span><span class="pcoded-mtext">Salir</span>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
        

    </nav>
